<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>Simple markers</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
    body { padding-top: 50px; }
      
      #map {
      	height: 500px;
      }
      
			#pac-input {
			  background-color: #fff;
			  font-family: Roboto;
			  font-size: 15px;
			  font-weight: 300;
			  margin-left: 12px;
			  padding: 0 11px 0 13px;
			  text-overflow: ellipsis;
			  width: 300px;
			}
			
			#pac-input:focus {
			  border-color: #4d90fe;
			}
			
			.pac-container {
			  font-family: Roboto;
			}
			
			#type-selector {
			  color: #fff;
			  background-color: #4d90fe;
			  padding: 5px 11px 0px 11px;
			}
			
			#type-selector label {
			  font-family: Roboto;
			  font-size: 13px;
			  font-weight: 300;
			}
			
		.controls {
		  margin-top: 10px;
		  border: 1px solid transparent;
		  border-radius: 2px 0 0 2px;
		  box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  height: 32px;
		  outline: none;
		  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		}
<<<<<<< HEAD
		
=======
>>>>>>> geolocalizao
    </style>
    
  </head>
  
<<<<<<< HEAD
  <body><!-- data-spy="scroll" data-target=".navbar" data-offset="50"-->
  
  	

	  	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
	    <div id="map" class="oi">
	    </div>
   <div id="section2">
    	<center><div id="handler" class="ui-resizable-s"><img src="images/down.png" style="margin-top:20px;"/></div></center>
    	<center><p style="font-family: 'Roboto', sans-serif; font-size:30px; margin-top:50px;">Como funciona?</p></center>
    	<div class="row" style="background-color:#F5F5F5;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-4">
                <center><img src="images/palace.png" style="max-height:40px; margin-top: 20px;"></center>
            
                <p style="color:#777777; margin-top:20px;margin-bottom: 20px; text-align:center; margin-right:30px; margin-left:30px;">Nós exibimos as demandas registradas pela emlurb mais próximas a você! </p>
            </div>
            <div class="col-md-4">
                <center><img src="images/shovel.png" style="max-height:50px; margin-top: 14px; margin-bottom: -4px;"></center>
                
               
               <p style="color:#777777;margin-top:20px; margin-bottom: 20px; text-align:center; margin-right:30px; margin-left:30px;">Você escolhe uma demanda no mapa e clica em ~Reclamar~</p>
               <center><a type="button" class="btn btn-primary" href="http://www.recife.pe.gov.br/pr/servicospublicos/emlurb/sgde/spdc/codigo/gui/cadastrarDemandaWeb.php"><p> Não encontrou seu problema?</p></a></center>
               </div>
    
            <div class="col-md-4">
                <center><img src="images/hero.png" style="max-height:50px; margin-top: 17px; margin-bottom: -7px;"></center>
                <p style="color:#777777;margin-top:20px; margin-bottom: 20px; text-align:center; margin-right:30px; margin-left:30px;">Então nós, aleatoriamente, selecionamos três vereadores para que você possa entrar em contato diretamente!</p></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
    	<p style="color:#777777; font-size: 20px; margin-top:20px; text-align:center;">Ou seja, somos uma ponte entre você,seus problemas e quem pode resolvê-los!</p>
    </div>
   </div>
=======
  <body>
  	
  	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
>>>>>>> geolocalizao
    <script>
		//var geocoder;
		function generateContent(grupo,desc,data,situacao,id){
			return '<span class="glyphicon glyphicon-time" aria-hidden="true" style=font-size:50px;"></span>' + 
			'<h1 style="display:inline-block;">'+grupo+'</h1>'+
			'<h2>'+desc+'</h2>'+
			'<h3>'+data+'</h3>'+
			'<h3>'+situacao+'</h3>'+
			'<center><a href="/'+id+'" class="btn btn-info">Reclamar!</a></center>';
		}
		var map;
		var info;
		function initMap() {
			//geocoder = new google.maps.Geocoder();
			map = new google.maps.Map(document.getElementById('map'), {
				zoom: 15,
				center: {lat: -8.127488, lng: -34.904665}
			});
			
			// Creating the search box and linking .
	  var input = document.getElementById('pac-input');
	  var searchBox = new google.maps.places.SearchBox(input);
	  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
	
	  
	  // setting the search box result to update the map
	   google.maps.event.addListener(searchBox, 'places_changed', function() {
	    searchBox.set('map', null);
	    var places = searchBox.getPlaces();
	    var bounds = new google.maps.LatLngBounds();
<<<<<<< HEAD
	     var i, place;
	     for (i=0; place = places[i]; i++) {
	     	bounds.extend(place.geometry.location);
	     }
	    
	    map.fitBounds(bounds);
	    searchBox.set('map', map);
	  });


=======
	    var i, place;
	    for (i=0; place = places[i]; i++) {
	    	(function(place) {
	    		var marker = new google.maps.Marker({
	    			position: place.geometry.location
	    		});
	    		bounds.extend(place.geometry.location);
	    	}(place));
	    }
	    map.fitBounds(bounds);
	    searchBox.set('map', map);
	  });
>>>>>>> geolocalizao
			info = <%= render inline: @info%>;
			geocodeAddress(info);
		}
 //var markers = [];
 // // [START region_getplaces]
 // // Listen for the event fired when the user selects a prediction and retrieve
 // // more details for that place.
  
 // searchBox.addListener('places_changed', function() {
 //   var places = searchBox.getPlaces();
<<<<<<< HEAD

 //   if (places.length == 0) {
 //     return;
 //   }


=======
 //   if (places.length == 0) {
 //     return;
 //   }
>>>>>>> geolocalizao
		function geocodeAddress(info) {
			
			for (i=0; i<info.length; i++){
				
			(function(information){
				/*geocoder.geocode({'address': information.address}, function(results, status) {
					if (status == 'OK') {*/
						var marker = new google.maps.Marker({
							map: map,
							position: {lat: parseFloat(information.latitude), lng: parseFloat(information.longitude)}
						});
<<<<<<< HEAD
						
=======
>>>>>>> geolocalizao
						//listener para subir o balaozinho da demanda quando clica no marker
							marker.addListener('click', function() {
								var infowindow = new google.maps.InfoWindow({
									content: generateContent(information.grupo,information.desc,information.data,information.situacao,information.id)
								});
								infowindow.open(map, marker);
							});
						
					/*} else {
						alert('Geocode was not successful for the following reason: ' + status);
					}*/
				
				})(info[i]);
			}
		}
<<<<<<< HEAD
	
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo4e1TvziWr4DUZ4swbQ0QMv-PE1ankB8&libraries=places&callback=initMap"></script>
	<script
		src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
		integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
		crossorigin="anonymous"></script>
		
<!--https://maps.googleapis.com/maps/api/js?key=AIzaSyAo4e1TvziWr4DUZ4swbQ0QMv-PE1ankB8&callback=initMap"-->

<script>

$(document).ready(function() {
	var handler = document.getElementById('handler');
	$(".oi" ).resizable({
	  handles: {
	   "s": handler
	  }
	});
})
</script>


=======
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvCpIT70Lvq9ttkVwR4Wxcw1g2YMCWP0Y&libraries=places&callback=initMap"></script>

<!--https://maps.googleapis.com/maps/api/js?key=AIzaSyAo4e1TvziWr4DUZ4swbQ0QMv-PE1ankB8&callback=initMap"-->
>>>>>>> geolocalizao
  </body>
</html>
